@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


body{
background-image: url('./images/wp6.jpg');
background-size: 85px;
background-repeat: repeat;

}



.App {
  flex-direction: column;
  font-family: "roboto", sans-serif;
  background-image: linear-gradient(90deg, #410076, #8820dd);
}


.d-grid {
  display: flex !important;
  margin: 0 8rem 0 5rem ;
}

form{
border: solid 3px black;
margin: 0rem 20rem 0 20rem;
padding: 0rem;
}

.form-control {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--Alternative-color);
 
}

.site-title img {
  width: 4.5rem;
  height: 4rem;
  margin-left: 0rem;

}

*{
  text-decoration: none;
  list-style: none;
}